body {
  margin: 0px;
}
.container {
  height: 100vh;
  background-image: url(Images/pexels-invisiblepower-1076885.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.weather-day {
  display: flex;
  box-shadow: rgb(116, 72, 237) 0px 20px 30px -10px;
  background: rgba(116, 116, 116, 0.6);
  /* background: rgb(247, 246, 245); */
  /* background: linear-gradient(
    0deg,
    rgb(235, 40, 40) 0%,
    rgb(245, 245, 244) 100%
  ); */
  font-family: "Teko", sans-serif;
  font-size: large;
  flex-direction: column;
  width: 150px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
  transition: transform 0.3s;
  transform-origin: center bottom;
}
.weather-day img {
  margin-top: 20px;
  margin-bottom: 20px;
}


.clock {
  display: flex;
  align-content: center;
  position: absolute;
  top: 130px;
  right: 600px;
  font-size: xx-large;
  font-family: "Montserrat", cursive;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: large;
}
.weather-day:hover {
  transform: translateY(-10px) scale(1.4);
  background-color: rgb(86, 0, 105);
  color: rgb(116, 228, 12);
}